{% extends "base.html" %}

{% block content %}

    <h3>tarot study</h3>
    
    <h3>Major Arcana, keys, atus</h3>
    <ol>
        <li><a href="/one-card/the_fool">The Fool</a></li>
        <li><a href="/one-card/the_conjurer">The Conjurer</a></li>
        <li><a href="/one-card/the_mage">The Mage</a></li>
        <li><a href="/one-card/the_priestess">The Priestess</a></li>
        <li><a href="/one-card/the_empress">L'Imperatrice</a> (The Empress)</li>
        <li><a href="/one-card/the_goddess">The Goddess</a></li>
        <li><a href="/one-card/the_emperor">The Emperor</a></li>
        <li><a href="/one-card/the_hedemony">The Hedemony </a></li>
        <li><a href="/one-card/the_preacher">The Preacher </a></li>
        <li><a href="/one-card/the_prophet">The Prophet </a></li>
        <li><a href="/one-card/the_hierphant">The Hierphant </a></li>
        <li><a href="/one-card/the_lovers">The Lovers</a></li>
        <li><a href="/one-card/the_chariot">The Chariot</a></li>
        <li><a href="/one-card/the_vehicle">The Vehicle </a></li>
        <li><a href="/one-card/lust"> Lust</a></li>
        <li><a href="/one-card/strength"> Strength </a></li>
        <li><a href="/one-card/the_time_keeper">The Time-Keeper</a></li>
        <li><a href="/one-card/the_contingency_1">The Contingency 1 </a></li>
        <li><a href="/one-card/the_contingency_2">The Contingency 2</a></li>
        <li><a href="/one-card/justice_1">Justice 1</a></li>
        <li><a href="/one-card/justice_2">Justice 2</a></li>
        <li><a href="/one-card/the_hermit">The Hermit</a></li>
        <li><a href="/one-card/the_wheel_of_fortune">The Wheel of Fortune</a></li>
        <li><a href="/one-card/strength">Strength</a></li>
        <li><a href="/one-card/twist_of_fates">Twist of Fates</a></li>
        <li><a href="/one-card/the_translator">The Translator</a></li>
        <li><a href="/one-card/death">Death </a></li>
        <li><a href="/one-card/art">Art </a></li>
        <li><a href="/one-card/reconciliation"> Reconciliation </a></li>
        <li><a href="/one-card/temperance">Temperance</a></li>
        <li><a href="/one-card/the_devil">The Devil</a></li>
        <li><a href="/one-card/lucifer">Lucifer </a></li>
        <li><a href="/one-card/the_tower">The Tower </a></li>
        <li><a href="/one-card/hope">Hope </a></li>
        <li><a href="/one-card/the_star">The Star</a></li>
        <li><a href="/one-card/projections_1">Projections 1 </a></li>
        <li><a href="/one-card/projections_2">Prpjections 2</li>
        <li><a href="/one-card/projections_3">Projections 3</li>
        <li><a href="/one-card/luminance_1">Luminance 1 </a></li>
        <li><a href="/one-card/luminance_2">Luminance 2</li>
        <li><a href="/one-card/luminance_3">Luminance 3</li>
        <li><a href="/one-card/luminance_4">Luminance 4</a></li>
        <li><a href="/one-card/the_sun">The Sun</a></li>
        <li><a href="/one-card/the_world_1">The World 1</a></li>
        <li><a href="/one-card/the_world_2">The World 2</a></li>
        <li><a href="/one-card/the_world_3">The World 3</a></li>
        <li><a href="/one-card/sublimation">Sublimation </a></li>
        <li><a href="/one-card/macrocosm">Macrocosm </a></li>

        
    </ol>



    <h3>coins (or disks, pentacles, diamonds)</h3>
    <p>the body - material matters</p>
    <ul>
        <li><a href="/one-card/ace_of_coins">Ace of Coins</a></li>
        <li><a href="/one-card/two_of_coins">Two of Coins</a></li>
        <li><a href="/one-card/three_of_coins">Three of Coins</a></li>
        <li><a href="/one-card/four_of_coins">Four of Coins</a></li>
        <li><a href="/one-card/five_of_coins">Five of Coins</a></li>
        <li><a href="/one-card/six_of_coins">Six of Coins</a></li>
        <li><a href="/one-card/seven_of_coins">Seven of Coins</a></li>
        <li><a href="/one-card/eight_of_coins">Eight of Coins</a></li>
        <li><a href="/one-card/nine_of_coins">Nine of Coins</a></li>
        <li><a href="/one-card/ten_of_coins">Ten of Coins</a></li>
        <li><a href="/one-card/princess_of_coins">Princess of Coins</a></li>
        <li><a href="/one-card/knight_of_coins">Knight of Coins</a></li>
        <li><a href="/one-card/queen_of_coins">Queen of Coins</a></li>
        <li><a href="/one-card/king_of_coins">King of Coins</a></li>
    </ul>

    <h3>Wands (or wands)</h3>
    <p>the creative urge - sex</p>
    <ul>
        <li><a href="/one-card/ace_of_wands">Ace of Wands</a></li>
        <li><a href="/one-card/two_of_wands">Two of Wands</a></li>
        <li><a href="/one-card/three_of_wands">Three of Wands</a></li>
        <li><a href="/one-card/four_of_wands">Four of Wands</a></li>
        <li><a href="/one-card/five_of_wands">Five of Wands</a></li>
        <li><a href="/one-card/six_of_wands">Six of Wands</a></li>
        <li><a href="/one-card/seven_of_wands">Seven of Wands</a></li>
        <li><a href="/one-card/eight_of_wands">Eight of Wands</a></li>
        <li><a href="/one-card/nine_of_wands">Nine of Wands</a></li>
        <li><a href="/one-card/ten_of_wands">Ten of Wands</a></li>
        <li><a href="/one-card/princess_of_wands">Princess of Wands</a></li>
        <li><a href="/one-card/knight_of_wands">Knight of Wands</a></li>
        <li><a href="/one-card/queen_of_wands">Queen of Wands</a></li>
        <li><a href="/one-card/king_of_wands">King of Wands</a></li>
    </ul>

    <h3>cups (or hearts)</h3>
    <p>the heart - love</p>
    <ul>
        <li><a href="/one-card/ace_of_cups">Ace of Cups</a></li>
        <li><a href="/one-card/two_of_cups">Two of Cups</a></li>
        <li><a href="/one-card/three_of_cups">Three of Cups</a></li>
        <li><a href="/one-card/four_of_cups">Four of Cups</a></li>
        <li><a href="/one-card/five_of_cups">Five of Cups</a></li>
        <li><a href="/one-card/six_of_cups">Six of Cups</a></li>
        <li><a href="/one-card/seven_of_cups">Seven of Cups</a></li>
        <li><a href="/one-card/eight_of_cups">Eight of Cups</a></li>
        <li><a href="/one-card/nine_of_cups">Nine of Cups</a></li>
        <li><a href="/one-card/ten_of_cups">Ten of Cups</a></li>
        <li><a href="/one-card/princess_of_cups">Princess of Cups</a></li>
        <li><a href="/one-card/knight_of_cups">Knight of Cups</a></li>
        <li><a href="/one-card/queen_of_cups">Queen of Cups</a></li>
        <li><a href="/one-card/king_of_cups">King of Cups</a></li>
    </ul>

    <h3>swords (or spades)</h3>
    <p>the mind - intellect<ul>
        <li><a href="/one-card/ace_of_swords">Ace of Swords</a></li>
        <li><a href="/one-card/two_of_swords">Two of Swords</a></li>
        <li><a href="/one-card/three_of_swords">Three of Swords</a></li>
        <li><a href="/one-card/four_of_swords">Four of Swords</a></li>
        <li><a href="/one-card/five_of_swords">Five of Swords</a></li>
        <li><a href="/one-card/six_of_swords">Six of Swords</a></li>
        <li><a href="/one-card/seven_of_swords">Seven of Swords</a></li>
        <li><a href="/one-card/eight_of_swords">Eight of Swords</a></li>
        <li><a href="/one-card/nine_of_swords">Nine of Swords</a></li>
        <li><a href="/one-card/ten_of_swords">Ten of Swords</a></li>
        <li><a href="/one-card/princess_of_swords">Princess of Swords</a></li>
        <li><a href="/one-card/knight_of_swords">Knight of Swords</a></li>
        <li><a href="/one-card/queen_of_swords">Queen of Swords</a></li>
        <li><a href="/one-card/king_of_swords">King of Swords</a></li>
    </ul>


{% endblock %}