{% extends "base.html" %}

{% block content %}

    <h2>Welcome to the Neureal Tarot!</h2>

    <h3>AI Art Tarot</h3>

    <p>Empower your will in the pursuit of art and meaning in the artificial world. Consult the Tarot..</p>

	<hr />

    <h4>Think about your question and chose one or three cards:</h4>

    <p><strong><a href="one-card"> one card</a></strong>
        <br />...the answer to your question</p>

    <p><strong><a href="three-cards"> three cards</a></strong>
    <br />...the past, present and future</p>

    <p><strong><a href="all-cards">tarot study</a></strong>
        <br />the tarot is much more than a divinatory tool...</p>
    
    <hr />

    <li><strong><a href="https://replicate.com/alekseycalvin/soonrtarot" target="_blank">Create Your Own AI Tarot!</a></li></strong>

	<hr />

{% endblock %}
